.editable-text__text {
    cursor: url("/src/client/images/edit-cursor.png") 19 16, pointer;
}

.editable-text__input{
    text-align: inherit ;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.error-input{
    border-color: #ff6a6a !important;
}