.board-column__button-add{
    text-align: center;
}
.add-task-form{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.add-task-form__input{
    line-height: 1.5em;
    width: 85%;
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    background: #fdfdfd;
}
input:focus {
    outline: none;
}
.add-task-form__input:focus{
    box-shadow: 0 3px 10px lightgrey;
}
.board__add-column-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 146px;
    margin: 15px;
    box-shadow: 0 0 50px #efefef;
    border-radius: 3px;
    font-size: 4em;
    color: #efefef;
    cursor: pointer;
}