.board__board-column {
    margin: 10px;
}
.board-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 300px;
    min-width: 200px;
    height: fit-content;
    max-height: -webkit-fill-available;
    border-radius: 3px;
    background: #ebecf0;
    color: #505050;
}
.board_column__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 10px;
}
.board-column__item{
    width: 100%;
    margin: 0 5px 10px 5px;
}

.board__add-column-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 146px;
    margin: 15px;
    box-shadow: 0 0 50px #efefef;
    border-radius: 3px;
    font-size: 4em;
    color: #efefef;
    cursor: pointer;
}
.board-column__button-add{
    cursor: pointer;
}